<p id="notice"><%= notice %></p>


<div class="container">
    <div class="card">
  <div class="card-body">
       <div class="row">
    <div class="col-sm">
        <div class="card-header">
    <h3>Hospitals</h3>
<br>

<table>
  <thead>
    <tr>
      <th><font color="navy" >Name  |</th>
      <th><font color="navy">Address  |</th>
      <th><font color="navy">Number  |</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
    
    <table>

      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.address %></td>
        <td><%= hospital.number %></td>
     <td> <button type="button" class="btn btn-outline-info"><%= link_to 'Show', hospital %></button></td>
        <td><button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_hospital_path(hospital) %></button></td>
        <td><button type="button" class="btn btn-outline-danger"><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-outline-success"><%= link_to ' Add New Hospital', new_hospital_path %></button>
</div>
</div>
</div>
</div>
</div>
</div>