<% provide(:homes_active, 'active') %>
<p id="notice"><%= notice %></p>

<div class="container">
    <div class="card">
  <div class="card-body">
       <div class="row">
    <div class="col-sm">
        <div class="card-header">
       

          
    <h3>Daily Appointments</h3>
<br>

<table>
  <thead>
    <tr>
      <th><font color="navy">Patient  </th>
      <th><font color="navy">Date  </th>
      <th><font color="navy">Time  </th>
      <th><font color="navy">Reason  </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.patient %></td>
        <td><%= doctor.date %></td>
        <td><%= doctor.time %></td>
        <td><%= doctor.details %></td>
        <td><button type="button" class="btn btn-outline-info"><%= link_to 'Show', doctor %></button></td>
        <td><button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_doctor_path(doctor) %></button></td>
        <td><button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </button></tr>
    <% end %>
  </tbody>
</table>

<br>
 
<button type="button" class="btn btn-outline-success"><%= link_to 'New Appointment', new_doctor_path %></button><%= link_to " Download Appointments PDF",doctors_path(format: 'pdf') %></div>
<br>
<p><b> Upcoming : <%= @doctors.size %> scheduled appointment</b></p>


 </div><br><br>
 </div><h2> Next Patient: </h2>
  <ul>
    <% @doctors.each do |doctor|%>
    <li><%= doctor.patient %></li>
    <% end %>
  </ul></div>
<%= area_chart Doctor.group(:created_at).maximum(:time) %>

  
  
  </div>
  
  </div>
  </div>
</div>