 <div class="container">
    <div class="card">
  <div class="card-body">

<p id="notice"><%= notice %></p>

<h2> Appointments records for: <%= @appointment.patient%></h2>


<p>
  <strong>Name</strong>
  <%= @appointment.patient %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>Details:</strong>
  <%= @appointment.details %>
</p>

<button><%= link_to 'Edit', edit_appointment_path(@appointment) %> </button>
<button> <%= link_to 'Back', appointments_path %></button>


</div>
</div>
</div>